<%- include('header'); %>
<body>
  <h3>Regions</h3>
  <p>
    A list of all Regions in Eve Online
  </p>
  <p>
    <a href='/updateRegions'>Update List</a>
    <br /><br />

<% regions.forEach(function(region) { %>

    <%= region._id %><br />

<% }); %>
  </p>
</body>
<%- include('footer'); %>
